@page
@model ListUsModel
@{
    ViewData["Title"] = "Listado de Usuarios";
}

<h4>Usuarios</h4>
<a asp-page="CreateUs">
    <button type="button" class="btn btn-primary">Nuevo Usuario</button>
</a>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
            <th scope="col">Rol</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Usuario in Model.Usuarios)
        {
            <tr>
                <td>@Usuario.Nombre</td>
                <td>@Usuario.Apellido</td>
                <td>@Usuario.Email</td>
                <td>@Usuario.Password</td>
                <td>@Usuario.Rol</td>
                <td>
                    <a asp-page="EditUs" asp-route-id="@Usuario.Id" class="btn btn-warning">
                        Editar
                    </a>
                    <a asp-page-handler="Delete" asp-route-id="@Usuario.Id" class="btn btn-danger" onclick="return confirm('Estas Seguro?');">
                        Borrar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
