
@page
@model ListEsModel
@{
    ViewData["Title"] = "Listado de Estudiantes";
}
<h4>Estudiantes</h4>
<a asp-page="CreateEs">
    <button type="button" class="btn btn-primary">Nuevo Estudiante</button>
    </a>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Email</th>
            <th scope="col">Edad</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Estudiante in Model.Estudiantes)
        {
            <tr>
                <td>@Estudiante.Nombre</td>
                <td>@Estudiante.Apellido</td>
                <td>@Estudiante.Email</td>
                <td>@Estudiante.Edad</td>
                <td>
                    <a asp-page="EditEs" asp-route-id="@Estudiante.Id" class="btn btn-warning">
                        Editar
                    </a>
                    <a asp-page-handler="Delete" asp-route-id="@Estudiante.Id"  class="btn btn-danger" onclick="return confirm('Estas Seguro?');">
                        Borrar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
